/* * {
    border: solid darkblue;
} */

/* NAV BAR */
nav {
    height: 148px; 
    }

.left {
    font-size: 48px;
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    color: #74A4BC;
    padding: 20px 20px 0px 20px;
}

.right {
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    color:#74A4BC;
    display: flex;
    justify-content: flex-end;
    padding: 0px 30px 0px 30px;
}
hr.solid {
    border: .5px solid #c4c4c4;
}

/* INTRO HEADER */
h1, h7 {
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    width: 400px;
    text-align: center;
    color: #74A4BC;
    display: flex;
    justify-content: center;
    padding: 80px 0px 10px 0px;
    margin: 0 auto;
}
h2, h8 {
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: #74A4BC;
    padding: 70px 0px 70px 0px;
}

/* PROJECT OVERVIEW */
.imageContainer {
    display: flex;
    width: 1700px;
    height: 850px;
}
.yopo-iphone11 {
    width: 404px;
    height: 812px;
    float: left;
    padding: 25px 50px 0px 150px;
}
h3, h6, p {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #74A4BC;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding: 0px 0px 50px 0px;
}

/* TOOLS */
.imageContainer-tools {
    width: 1000px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


/* PERSONAL STYLE GUIDE */

h4, h5 {
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    color: #74A4BC;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 0px 50px 0px;
}
.imageContainer-style-guide {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 970px;
    height: 900px;  
}

/* CONTACT */



/* FOOTER */

.footer {
    display: flex;
}

.footerLogo {
    width: 20px;
    height: 40px;
    padding: 35px 0px 35px 35px;
}

.footerContact {
    font-family: 'Karla', sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
}
.emailIcon {
    width: 31px;
    height: 31px;
    padding: 14px 0px 0px 0px;
}
.phoneIcon {
    width: 30px;
    height: 30px;
    padding: 14px 0px 0px 0px;
}

.igIcon, .linkedinIcon {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 5px;
    justify-content: end;
}
.footerSocialMedia {
    float: right;
    padding: 35px 35px 35px 0px;
   
}
